<div class="container my-5">
  <h4 class="fw-bold">Materiais Hospitalares</h4>
  <div class="col-12">
    <div id="carouselExampleRide" class="carousel slide">
      <div class="carousel-inner d-block d-md-none d-md-none m-5 w-75">
        <div
          *ngFor="let item of products; let i = index"
          class="carousel-item"
          [class.active]="i === 0"
        >
          <app-product-card [product]="item"></app-product-card>
        </div>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div
            class="d-none d-md-grid gap-4"
            style="grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))"
          >
            <div *ngFor="let item of products">
              <app-product-card [product]="item"></app-product-card>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-controls">
        <button
          class="carousel-control-next custom-carousel-btn custom-indicators button"
          type="button"
          data-bs-target="#carouselExampleRide"
          data-bs-slide="next"
        >
          <span class="custom-carousel-icon">→</span>
        </button>

        <button
          class="carousel-control-prev custom-carousel-btn custom-indicators button"
          type="button"
          data-bs-target="#carouselExampleRide"
          data-bs-slide="prev"
        >
          <span class="custom-carousel-icon custom-indicators button">←</span>
        </button>
      </div>
    </div>

    <div class="text-end mt-3">
      <a href="#" class="text-primary fw-bold">Confira todos ></a>
    </div>
  </div>
</div>
